body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://oir.mobi/uploads/posts/2021-03/1616587093_15-p-programmirovanie-fon-20.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #ffffff;
  --text-primary: #000;
  --text-secondary: #9532bd;
  --accent: #4e42fa;
  --border: #333;
  --form-bg: #fff;
}

[data-theme='dark'] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #9532bd;
  --accent: #4e42fa;
  --border: #808080;
  --form-bg: #191919;
}

.signForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 400px;
  margin: auto;
  box-shadow: 0px 0px 12px var(--border);
  border-radius: 8px;
  background-color: var(--form-bg);
}

.form-control {
  padding: 8px;
  width: 300px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--background);
  color: var(--text-primary);
}

.btn {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: var(--text-primary);
  margin: 16px 0;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.nav-link {
  color: var(--text-primary);
}

.navbar-brand-dark {
  color: var(--text-primary);
}

.navbar-brand-light {
  color: var(--text-primary);
}

.nav-link-dark {
  color: var(--text-primary);
  padding-left: 10px
}

.nav-link-light {
  color: var(--text-rimary);
  padding-left: 10px
}

.theme {
  font-size: 2rem;
  cursor: pointer;
}

.text {
  color: var(--text-primary);
}

.divider {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid var(--text-primary);
  line-height: .1rem;
  margin: 2rem 0;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top i {
  font-size: 2rem;
  color: var(--text-primary);
}
